<ul class="nav navbar-nav">
    <li class="dropdown items-menu" ng-class="{'open': itemListOpen}">
        <a class="navbar-button" ng-init="itemListOpen=false" ng-click="itemListOpen=!itemListOpen">
            <i class="fa fa-list-alt"></i>
        </a>
        <ul class="dropdown-menu dropdown-right">
            <li class="search-form">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><span class=" fa fa-filter"></span></span>
                    <input type="text" class="form-control" placeholder={{filterDefaultString}} ng-model="filter.text"
                           ng-model-options="{debounce: 500}">
                    <span class="input-group-addon" ng-click="filter.text=''">
                        <span class="fa fa-minus-circle"></span>
                    </span>
                </div>
            </li>
            <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu scroll-body" slimscroll="{size: 3, height:'100%'}">
                    <li ng-repeat="item in items | filter:filterFunction">
                        <a role="presentation" ng-show="item.label" ng-hide="item.filter"
                           class="list-group-item" ng-class="{'active':item.selected}"
                           ng-click="selectItem(item)">
                            <habmin-icon class="fa fa-fw" category="{{item.category}}"></habmin-icon>
                            <span>{{item.label}}</span>
                            <span class="pull-right">
                                <span ng-show="item.selected" class="fa fa-check-square-o"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer">
                <button type="button" class="btn btn-xs btn-default"
                        ng-click="itemListOpen=false">
                    <span class="fa fa-fw fa-times"></span>
                    <span i18n="common.close"></span>
                </button>

                <button type="button" class="btn btn-xs btn-default"
                        ng-click="clearList()">
                    <span class="fa fa-fw fa-eraser"></span>
                    <span i18n="common.clear"></span>
                </button>

                <button type="button" class="btn btn-xs btn-default"
                        ng-click="doGraph()">
                    <span class="fa fa-fw fa-check"></span>
                    <span i18n="common.ok"></span>
                </button>
            </li>
        </ul>
    </li>

    <li ng-if="services.length > 1">
        <a class="navbar-button" role="button">
            <i class="fa fa-database"></i>
        </a>
    </li>

    <li ng-if="services.length == 0">
        <a class="navbar-button" role="button">
            <i class="fa fa-warning text-warning"></i>
        </a>
    </li>

    <li>
        <a class="navbar-button" role="button">
            <i class="fa fa-save"></i>
        </a>
    </li>

</ul>