$icon-font-path: "../styles/fonts/";
// Change the path to the fonts
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
  margin: 30px 0;
}

.habmin-nav {
  width: 150px;
}

.habmin-scroll {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.icon_list {
  margin-left: 25px;
  float: left;
}

.icon_list_img img {
  margin-left: 0px;
}

.chart-container {
  height: 500px;
  width: 100%
}

.pagination-centered {
  text-align: center;
}