<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="splitter:false, region:'leading'">
    <div data-dojo-type="dijit/layout/ContentPane" title="Main properties" style="width:250px">
        <div data-dojo-id="mainProperties" data-dojo-type="app/calendar/MainProperties" style="width:230px" ></div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" title="Column view properties">
        <div data-dojo-id="columnViewProperties" data-dojo-type="app/calendar/ColumnViewProperties" style="width:250px" ></div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" title="Matrix view properties">
        <div data-dojo-id="matrixViewProperties" data-dojo-type="app/calendar/MatrixViewProperties" style="width:250px" ></div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" title="Month column view properties">
        <div data-dojo-id="monthColumnViewProperties" data-dojo-type="app/calendar/MonthColumnViewProperties" style="width:250px" ></div>
    </div>
</div>
