<div>
    <table class="formTable">
		<tr>
			<td>Day size(px):</td>
			<td class="right"><div data-dojo-attach-point="daySizeEditor" data-dojo-type="dijit.form.NumberSpinner" value="30" data-dojo-props="constraints:{min:20, max:200}, intermediateChanges:true, smallDelta:5" ></div></td>
		</tr>
								
		<tr>
			<td>Overlap (%):</td>
			<td class="right"><div data-dojo-attach-point="overlapEditor" data-dojo-type="dijit.form.NumberSpinner" data-dojo-props="value:0, constraints:{min:0, max:100}, intermediateChanges:true, smallDelta:10"></div></td>
		</tr>
		
		<tr>
			<td>Horizontal gap (px):</td>
			<td class="right"><div data-dojo-attach-point="hGapEditor" data-dojo-type="dijit.form.NumberSpinner" data-dojo-props="constraints:{min:0, max:30}, value:2, intermediateChanges:true" ></div></td>
		</tr>
							
	</table>
</div>
		    
