/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using Stylus: http://learnboost.github.com/stylus/.
 */
@import '../../dojo/resources/dojo.css';
@import '../../dijit/themes/claro/claro.css';
@import '../../dgrid/css/skins/claro.css';
@import '../../dojox/calendar/themes/claro/Calendar.css';
@import '../../dojox/calendar/themes/claro/MonthColumnView.css';
@import "../../dojox/layout/resources/FloatingPane.css";
@import "../../dojox/layout/resources/ResizeHandle.css";
@import '../../dgrowl/dGrowl.css';

html, body, #mainDiv {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

body, div, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: "";
}

abbr, acronym {
    border: 0;
}

body {
    font: 12px Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
    *font-size: 75%;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.1667em;
    font-weight: bold;
    line-height: 1.286em;
    margin-top: 1.929em;
    margin-bottom: 0.643em;
}

h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

p {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

blockquote {
    font-size: 0.916em;
    margin-top: 3.272em;
    margin-bottom: 3.272em;
    line-height: 1.636em;
    padding: 1.636em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

ol li, ul li {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}

pre, code {
    font-size: 115%;
    *font-size: 100%;
    font-family: Courier, "Courier New";
    background-color: #efefef;
    border: 1px solid #ccc;
}

pre {
    border-width: 1px 0;
    padding: 1.5em;
}

table {
    font-size: 100%;
}

.dojoTabular {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin: 0 1.5em;
}

.dojoTabular th {
    text-align: center;
    font-weight: bold;
}

.dojoTabular thead,
.dojoTabular tfoot {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

.dojoTabular th,
.dojoTabular td {
    padding: 0.25em 0.5em;
}

.habminHeaderbar {
    height: 52px;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    overflow-y: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(29, 37, 75)), to(rgb(3, 3, 6)));
    background-image: -webkit-linear-gradient(top, rgb(29, 37, 75), rgb(3, 3, 6));
    background-image: -moz-linear-gradient(top, rgb(29, 37, 75), rgb(3, 3, 6));
    background-image: -o-linear-gradient(top, rgb(29, 37, 75), rgb(3, 3, 6));
    background-image: -ms-linear-gradient(top, rgb(29, 37, 75), rgb(3, 3, 6));
    background-image: linear-gradient(top, rgb(29, 37, 75), rgb(3, 3, 6));
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fff;
    background-image: none;
    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.habminListNoIcon {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-left: 21px;
}

.habminListIcon {
    padding-left: 5px;
}

.habminListIcon img {
    width: 16px;
    height: 16px;
    float: left;
}

.habminButtonIcon {
    width: 16px;
    height: 16px;
}

.habminIconDashboard {
    background-image: url('../images/dashboard.png');
}

.habminIconNew {
    background-image: url('../images/plus-button.png');
}

.habminIconSave {
    background-image: url('../images/disk.png');
}

.habminIconChart {
    background-image: url('../images/chart-up.png');
}

.habminIconHeal {
    background-image: url('../images/bandaid--arrow.png');
}

.habminIconCancel {
    background-image: url('../images/cross.png');
}

.habminIconOk {
    background-image: url('../images/tick.png');
}

.habminIconEdit {
    background-image: url('../images/layer--pencil.png');
}

.habminIconRules {
    background-image: url('../images/compass.png');
}

.habminIconClear {
    background-image: url('../images/arrow-circle-225-left.png');
}

.habminIconDelete {
    background-image: url('../images/minus-button.png');
}

.habminIconItems {
    background-image: url('../images/category-group.png');
}

.habminIconUpdate {
    background-image: url('../images/external.png');
}

.habminIconInclude {
    background-image: url('../images/wrench--plus.png');
}

.habminIconExclude {
    background-image: url('../images/wrench--minus.png');
}

.habminIconBlock {
    background-image: url('../images/block.png');
}

.habminWidget {
    width: 32px;
    height: 32px;
    padding-left: 40px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.habminWidgetChart {
    background-image: url('../images/widgetChart.png');
}

.habminWidgetSwitch {
    background-image: url('../images/widgetSwitch.png');
}

.habminWidgetSlider {
    background-image: url('../images/widgetSlider.png');
}

.habminWidgetFrame {
    background-image: url('../images/widgetFrame.png');
}

.habminWidgetWebview {
    background-image: url('../images/widgetWebview.png');
}

.habminWidgetText {
    background-image: url('../images/widgetText.png');
}

.habminWidgetImage {
    background-image: url('../images/widgetImage.png');
}

.habminWidgetVideo {
    background-image: url('../images/widgetVideo.png');
}

.habminWidgetColorpicker {
    background-image: url('../images/widgetColorpicker.png');
}

.status-online,
.status-offline,
.status-unknown,
.user-error {
    background-repeat: no-repeat;
    background-position: right 5px top;
    text-align: right;
    float: right;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 25px;
    color: white;
}

.status-unknown {
    background-image: url('../images/status-offline.png');
}

.status-online {
    background-image: url('../images/status.png');
}

.status-offline {
    background-image: url('../images/status-busy.png');
}

.user-error {
    background-image: url('../images/user-red.png');
}

.notification-list {
    width: 45px;
    height: 40px;
    float: right;
    margin: 0px;
    background-image: url('../images/list.png');
    background-repeat: no-repeat;
    background-position: right 15px top 5px;
}

.loginMessage {
    position: absolute;
    left: 0;
    padding: 7px;
    color: red;
}

#tree .field-bool {
    width: 4em;
}

#tree .field-type {
    width: 5em;
}

.habminChildNoPadding {
    padding: 0px !important;
}

.habminAccordionChild {
    padding: 0px !important;
}

.habminLegendDisabled {
    color: #dcd2c7;
}

/* === Blue Badge ==*/
.mblDomButtonErrorBadge,
.mblDomButtonWarningBadge {
    position: relative;
    width: 29px;
    height: 20px;
    text-align: right;
    font-family: Helvetica;
    font-size: 10px;
    font-weight: bold;
    float: right;
}

.mblDomButtonErrorBadge > div {
    position: absolute;
    display: inline;
    padding: 0px 5px;
    top: 2px;
    right: 2px;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5bdc0), to(#ae0001), color-stop(0.5, #e44149), color-stop(0.5, #de151f));
    background: linear-gradient(to bottom, #f5bdc0 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.mblDomButtonErrorBadge > div > div {
    display: none;
}

.mblDomButtonWarningBadge > div {
    position: absolute;
    display: inline;
    padding: 0px 5px;
    top: 2px;
    right: 2px;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#6ba2e7), to(#216dd6), color-stop(0.5, #4282de), color-stop(0.5, #216dd6));
    background: linear-gradient(to bottom, #6ba2e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.mblDomButtonWarningBadge > div > div {
    display: none;
}

#splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin-top: 10%;
    background-color: white;
    vertical-align: middle;
    margin: auto;
}

#content {
    overflow: hidden;
    margin: 3px 0px 0px 0px;
    border-top: 1px #b5bcc7 solid;
    padding: 0px 0px 0px 0px;
}

.habmin .dijitContainer {
    overflow: hidden !important;
    height: 100% !important;
}

.habmin .dijitToolbar {
    padding: 0px;
}

.habminDeviceContainer {
}

.habminDevice {
    margin: 0px 5px 0px 5px;
    border: 1px solid #0c86b9;
    padding: 0px 4px 0px 4px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.habminDeviceContainer .dojoDndItem {
    border: none;
    background-color: white;
    background-image: none;
    padding: 0px;
}

.habminDeviceContainer .dojoDndItemBefore {
    border-top: 2px solid;
}

.habminDeviceContainer .dojoDndItemAfter {
    border-bottom: 2px solid green;
}

.habminDeviceStatusOk {
    box-shadow: inset 0px 1px 3px 0px #1bdc15;
}

.habminDeviceStatusError {
    box-shadow: inset 0px 1px 3px 0px #dc1b15;
}

.habminDeviceOpen {
    -webkit-border-radius: 5px 5px 0px 5px;
    border-radius: 5px 5px 0px 5px;
}

.habminDeviceChildSections {
    font-weight: bold;
    border-top: none !important;
    margin: 0px 5px 0px 55px;
    padding: 3px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

.habminDeviceChildTitle {
    border: 1px solid;
    font-weight: bold;
    margin: 0px;
    padding: 4px;
}

.habminDeviceIcon {
    width: 32px;
    height: 32px;
}

.habminDeviceTitle {
    margin-bottom: 5px;
}

.habminDeviceHeading {
    font-weight: bold;
    width: 25%;
    margin-right: 10px;
}

.habminDeviceText {

}

.habminDeviceButton .dijitButtonNode {
    width: 85px;
    padding: 2px 4px 4px 4px;
    border-radius: 5px;
    text-align: left;
    margin: 1px;
    border: none;
}

.habminDeviceButtonHover {
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px #5e85a7;
}

.habminDeviceButtonActive {
}

.habminDeviceButtonFocused {
}

.habminChartLegend {
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.habminChartLegend td {
    padding: 0px 20px 0px 20px;
}

#mainMenu,
#mainMenu ul {
    overflow: hidden;

    height: 46px;
    float: left;
    width: 800px;

    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#mainMenu:before,
#mainMenu:after {
    content: "";
    display: table;
}

#mainMenu:after {
    clear: both;
}

#mainMenu {
    zoom: 1;
}

#mainMenu li {
    float: left;
    height: 45px;
}

#mainMenu li {
    font: bold 12px/45px "Lato", "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    height: 45px;
    width: 120px;
    background-color: #0f6fb2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(15, 111, 178)), to(rgb(34, 65, 112)));
    background-image: -webkit-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -moz-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -o-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -ms-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#0f6fb2', EndColorStr='#224170');
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    box-shadow: inset 0 2px 0 #0070a3, inset 0 0 10px 0 #142a4a;
}

#mainMenu li:hover {
    box-shadow: inset 0 2px 0 #0070a3, inset 0 0 40px 0 #142a4a;
    text-shadow: 0 1px 3px #143157;
}

#mainMenu li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#mainMenu li:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#mainMenu li.menuSelected {
    background-image: none;
    background-color: white;
    color: #000;
    box-shadow: inset 0 2px 0 #0070a3, inset 0 4px 5px 0 #142a4a;
}

#mainMenu li.menuSelected:hover {
    box-shadow: inset 0 2px 0 #0070a3, inset 0 7px 10px 0 #142a4a;
    text-shadow: none;
}

.habmin .dojoxFloatingPane {
    padding: 0px !important;
    border: 1px;
    z-index: 50;
}

.habmin .dojoxFloatingPaneTitle {
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1em;
}

.habmin .dojoxFloatingPaneContent {
    padding: 0px !important;
    border: 1px;
}

.habminDashboardContainer {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
}

.habminDashboardPane {
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    padding: 0px !important;
    margin: 1px !important;
}

.habminDashboardPaneEdit {
    border: 1px solid #dc491d;
    background-color: #dda9a9;
    box-shadow: inset 0px 0px 7px 0px #dc1b15;
    margin: 0px !important;
}

.habminDashboardPaneDelete {
    background: url('../images/minus-button.png') no-repeat top left;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 1000;
}

.habminToolbarTab {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border: 1px solid #bfbfbf;
}

/* Icons */
.dojoxFloatingCloseIcon {
    background: url('../../../dijit/themes/tundra/images/tabClose.png') no-repeat center center;
    width: 16px;
    height: 16px;
    overflow: hidden;
    float: right;
}

.habminDashboardPaneResizeHandle {
    background: url('icons/resize.png') no-repeat bottom right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    cursor: nw-resize;
}

.habminDashboardPaneCloseIcon {
    width: 15px;
    height: 15px;
    overflow: hidden;
    float: right;
    cursor: pointer;
    background: url("../../../dijit/themes/soria/images/spriteRoundedIconsSmallBl.png") no-repeat -60px top;
}

/* Modifications */

.habminDashboardPaneContent {
    overflow: auto;
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.CodeMirror {
    height: 100%;
    width: 100%;
}
