#splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
    margin-top: 10%;
    background-color: white;
    vertical-align: middle;
    margin:auto;
}

.x-grid-row-selected-override .x-grid-cell{
    background-color:#00ff99;
}

.x-action-col-cell img {
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.x-action-col-cell img.chartAxis1 {
    background-image: url(../images/chart_yaxis.png);
}
.x-action-col-cell img.chartAxis2 {
    background-image: url(../images/chart_yaxis2.png);
}
.x-ie6 .x-action-col-cell img.chartAxis1 {
    background-image: url(../images/chart_yaxis.png);
}
.x-ie6.x-action-col-cell img.chartAxis2 {
    background-image: url(../images/chart_yaxis2.png);
}

.x-ie6 .x-action-col-cell img {
    position:relative;
    top:-1px;
}

.x-tree-lines img.sitemap-sitemap {
    width:16px;
    background-image:url(../images/maps-stack.png)
}
.x-tree-lines img.widget-group {
    width:16px;
    background-image:url(../images/ui-scroll-pane.png)
}
.x-tree-lines img.widget-frame {
    width:16px;
    background-image:url(../images/ui-group-box.png)
}
.x-tree-lines img.widget-switch {
    width:16px;
    background-image:url(../images/switch.png)
}
.x-tree-lines img.widget-setpoint {
    width:16px;
    background-image:url(../images/ui-scroll-bar.png)
}
.x-tree-lines img.widget-text {
    width:16px;
    background-image:url(../images/edit.png)
}
.x-tree-lines img.widget-colorpicker {
    width:16px;
    background-image:url(../images/color.png)
}
.x-tree-lines img.widget-video {
    width:16px;
    background-image:url(../images/film.png)
}
.x-tree-lines img.widget-slider {
    width:16px;
    background-image:url(../images/ui-slider.png)
}
.x-tree-lines img.widget-selection {
    width:16px;
    background-image:url(../images/ui-combo-box-blue.png)
}
.x-tree-lines img.widget-image {
    width:16px;
    background-image:url(../images/picture.png)
}
.x-tree-lines img.widget-webview {
    width:16px;
    background-image:url(../images/globe.png)
}

.x-tree-row-selected-override .x-grid-cell {
    background-image:url(../images/tick-small.png);
    background-repeat:no-repeat;
    z-index: 999;
}



.x-tool-tick {
    background-image: url(../images/tick.png) !important;
}
.x-tool-cross {
    background-image: url(../images/cross.png) !important;
}
.x-tool-disk {
    background-image: url(../images/disk.png) !important;
}
.x-tool-expand {
    background-image: url(../images/ui-accordion.png) !important;
}


.x-message-box .icon-download {
    background: url("../images/system-monitor-24.png") no-repeat scroll 6px 0px transparent;
    height: 24px!important;
}

.x-message-box .icon-error {
     background: url("../images/cross-circle-24.png") no-repeat scroll 6px 0px transparent;
     height: 24px!important;
 }

.x-message-box .icon-warning {
    background: url("../images/exclamation-24.png") no-repeat scroll 6px 0px transparent;
    height: 24px!important;
}

.x-message-box .icon-ok {
    background: url("../images/tick-24.png") no-repeat scroll 6px 0px transparent;
    height: 24px!important;
}



.x-config-icon-domain {
    background-image: url('../images/node.png');
}
.x-grid-tree-node-expanded .x-config-icon-domain {
    background-image: url('../images/node-select-child.png');
}
.x-config-icon-readonly {
    background-image: url('../images/tag.png');
}
.x-config-icon-editable {
    background-image: url('../images/pencil-small.png');
}

.sitemap-label-default {
    margin-left:20px;
    color:#C0C0C0
}
.sitemap-label-set {
    margin-left:20px;
}



.openhab_pictogram {
    -webkit-mask-position:center;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-size:contain;
@include background-gradient($active-color, 'recessed');
}


.ux-notification-window .x-window-body {
    text-align: center;
    padding: 15px 5px 15px 5px;
    width: 200px;
}

.ux-notification-icon-information {
    background-image: url('images/icon16_info.png');
}

.ux-notification-icon-error {
    background-image: url('images/icon16_error.png');
}

.ux-notification-light .x-window-header {
    background-color: transparent;
}

body .ux-notification-light {
    background-image: url('images/fader.png');
}

.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 18px 5px;
    width: 200px;
    background-color: transparent;
    border: 0px solid white;
}