<form class="form" role="form">
    <div class="form-group">
        <label for="inputName" class="control-label" i18n="chart.SaveName"></label>

        <div>
            <input type="text" ng-model="model.name" class="form-control" id="inputName" placeholder="Name">
        </div>
    </div>

    <div class="form-group">
        <label for="inputTitle" class="control-label" i18n="chart.SaveTitle"></label>

        <div>
            <input type="text" ng-model="model.title" class="form-control" id="inputTitle" placeholder="Title">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPeriod" class="control-label" i18n="chart.SavePeriod"></label>

        <div>
            <select ng-model="model.period" class="form-control" id="inputPeriod">
                <option value="3600" i18n="common.period1Hour"></option>
                <option value="7200" i18n="common.period2Hours"></option>
                <option value="10800" i18n="common.period3Hours"></option>
                <option value="14400" i18n="common.period4Hours"></option>
                <option value="21600" i18n="common.period6Hours"></option>
                <option value="32400" i18n="common.period9Hours"></option>
                <option value="43200" i18n="common.period12Hours"></option>
                <option value="86400" i18n="common.period1Day"></option>
                <option value="172800" i18n="common.period2Days"></option>
                <option value="259200" i18n="common.period3Days"></option>
                <option value="345600" i18n="common.period4Days"></option>
                <option value="432000" i18n="common.period5Days"></option>
                <option value="604800" i18n="common.period1Week"></option>
                <option value="1209600" i18n="common.period2Weeks"></option>
                <option value="1814400" i18n="common.period3Weeks"></option>
                <option value="2419200" i18n="common.period1Month"></option>
                <option value="5184000" i18n="common.period2Months"></option>
                <option value="7776000" i18n="common.period3Months"></option>
                <option value="10454400" i18n="common.period4Months"></option>
                <option value="15724800" i18n="common.period6Months"></option>
                <option value="23095800" i18n="common.period9Months"></option>
                <option value="31536000" i18n="common.period1Year"></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputLegend" class="control-label" i18n="chart.SaveLegend"></label>

        <div>
            <select ng-model="model.legend" class="form-control" id="inputLegend">
                <option value="false" i18n="common.no"></option>
                <option value="true" i18n="common.yes"></option>
            </select>
        </div>
    </div>
</form>