<span ng-switch="getItem(item).type">
    <span ng-switch-when="SwitchItem">
        <span ng-if="channel.channelType.stateDescription.readOnly">
            {{getValue(channel, getItem(item).state)}}
        </span>
        <span ng-if="!channel.channelType.stateDescription.readOnly">
            <toggle-switch ng-model="getItem(item).state" on-label="ON" on-value="ON" off-label="OFF" off-value="OFF"></toggle-switch>
        </span>
    </span>

    <span ng-switch-when="DimmerItem">
        <toggle-switch ng-model="getItem(item).state" on-label="ON" on-value="ON" off-label="OFF" off-value="OFF"></toggle-switch>
    </span>

    <span ng-switch-default>
        {{getValue(channel, getItem(item).state)}}
    </span>
</span>
