<!-- Device List -->
<div class="col-sm-4">
    <div class="panel panel-default">
        <!-- Header -->
        <div class="panel-heading">
            <div class="btn-group" uib-dropdown>
                <!-- FILTER BUTTON -->
                <button type="button"
                        class="btn btn-default"
                        uib-dropdown-toggle>
                    <span ng-class="{'fa fa-filter': true, 'text-warning': filterBindings.length || filterStatus.length}"></span>
                    <span i18n="common.filter"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li>
                        <a ng-click="toggleStatusFilter('UNINITIALIZED')">
                            <span ng-class="{'fa fa-fw': true, 'fa-check-square-o': filterStatus.indexOf('UNINITIALIZED')==-1}"></span>
                            <span class="fa fa-fw fa-question-circle text-muted"></span>
                            <span i18n="thing.StatusUninitialised"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="toggleStatusFilter('INITIALIZING')">
                            <span ng-class="{'fa fa-fw': true, 'fa-check-square-o': filterStatus.indexOf('INITIALIZING')==-1}"></span>
                            <span class="fa fa-fw fa-gears text-info"></span>
                            <span i18n="thing.StatusInitialising"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="toggleStatusFilter('ONLINE')">
                            <span ng-class="{'fa fa-fw': true, 'fa-check-square-o': filterStatus.indexOf('ONLINE')==-1}"></span>
                            <span class="fa fa-fw fa-check-circle text-success"></span>
                            <span i18n="thing.StatusOnline"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="toggleStatusFilter('OFFLINE')">
                            <span ng-class="{'fa fa-fw': true, 'fa-check-square-o': filterStatus.indexOf('OFFLINE')==-1}"></span>
                            <span class="fa fa-fw fa-times-circle text-danger"></span>
                            <span i18n="thing.StatusOffline"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="toggleStatusFilter('REMOVING');toggleStatusFilter('REMOVED')">
                            <span ng-class="{'fa fa-fw': true, 'fa-check-square-o': filterStatus.indexOf('REMOVING')==-1 || filterStatus.indexOf('REMOVED')!=-1}"></span>
                            <span class="fa fa-fw fa-warning text-warning"></span>
                            <span i18n="thing.StatusRemoving"></span>
                        </a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li ng-repeat="binding in bindings | orderBy:'name'" ng-class="{'disabled': binding.disabled}">
                        <a ng-click="toggleBindingFilter(binding)">
                            <span ng-class="{'fa-fw fa': true, 'fa-check-square-o': filterBindings.indexOf(binding.id)!=-1}"></span>
                            <habmin-icon class="fa fa-fw" icon="{{binding.icon}}"></habmin-icon>
                            <span>{{binding.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Body -->
        <div class="list-group habmin-list" resize-panel>
            <!-- THING LIST -->
            <div ng-if="thingCnt!=-1 && insertMode==false" class="list-group-item"
                 ng-class="{'active': thing.UID==selectedThing.UID, 'disabled': getThingType(thing)==null}"
                 ng-repeat="thing in things | filter:filterFunction | orderBy:'label'"
                 ng-click="selectThing(thing)">
                <li role="presentation" class="list-group-item-detail">
                    <table style="background-color: transparent">
                        <tr>
                            <td class="text-large" rowspan="2">
                                <span ng-switch="thing.statusInfo.status"
                                      tooltip-placement="top" tooltip="{{thing.statusInfo.description}}"
                                      tooltip-popup-delay="500"
                                      tooltip-enable="true" tooltip-trigger tooltip-animation="false"
                                      tooltip-append-to-body="true">
                                    <span ng-switch-when="ONLINE"
                                          class="fa fa-fw fa-check-circle text-success"></span>
                                    <span ng-switch-when="OFFLINE"
                                          class="fa fa-fw fa-times-circle text-danger"></span>
                                    <span ng-switch-when="INITIALIZING"
                                          class="fa fa-fw fa-gears text-info"></span>
                                    <span ng-switch-when="REMOVING"
                                          class="fa fa-fw fa-warning text-warning"></span>
                                    <span ng-switch-when="REMOVED"
                                          class="fa fa-fw fa-warning text-danger"></span>
                                    <span ng-switch-default
                                          class="fa fa-fw fa-question-circle text-muted"></span>
                                </span>
                            </td>
                            <td>
                                <span>&nbsp;{{thing.label}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-muted small">&nbsp;&nbsp;{{getThingType(thing).label}}
                            </td>
                        </tr>
                        <tr ng-if="getThingType(thing)==null">
                            <td>
                                <button type="button" class="btn btn-xs btn-default"
                                        ng-confirm-click="thingDelete(thing, true)"
                                        i18n-attr="{'ngConfirmMessage': 'thing.DeleteCheck','ngConfirmTitle': 'thing.Delete','ngConfirmNoBtn': 'common.cancel', 'ngConfirmYesBtn': 'common.ok'}">
                                    <span class="fa fa-fw fa-times-circle text-danger"></span>
                                    <span i18n="common.delete"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <span class="thing-battery" ng-class="thing.batteryIcon"></span>
                </li>
               
                <li class="list-group-item-notification small"
                    ng-class="{'danger':thing.statusInfo.status=='OFFLINE', 'success':thing.statusInfo.status!='OFFLINE'}"
                    ng-if="thing.statusInfo.description">
                    {{thing.statusInfo.description}} 
                </li>
            </div>

            <!-- Cover options for loading, and no devices -->
            <div ng-if="thingCnt==-1" class="list-group-item text-center">
                <span class="fa fa-spin fa-refresh"></span>
                <span i18n="common.loading"></span>
            </div>
            <div ng-if="thingCnt==0 && insertMode==false" class="list-group-item text-center">
                <span class="fa fa-exclamation-triangle text-warning"></span>
                <span i18n="thing.NoneFound"></span>
            </div>
        </div>

        <!-- Footer -->
        <div class="panel-footer panel-footer-none">
        </div>
    </div>
</div>

<!-- Thing Configuration -->
<div class="col-sm-8">
    <div class="panel panel-default">
        <!-- Header -->
        <div class="panel-heading">
            <button type="button"
                    class="btn btn-default" ng-class="{'btn-success': formLoaded&&thingConfigForm.modified}"
                    ng-click="thingSave()"
                    ng-disabled="!formLoaded || !thingConfigForm.modified">
                <span class="fa fa-floppy-o"></span>
                <span class="hidden-xs hidden-sm" i18n="common.save"></span>
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-click="thingConfigForm.reset()"
                    ng-disabled="!formLoaded || !thingConfigForm.modified">
                <span class="fa fa-times"></span>
                <span class="hidden-xs hidden-sm" i18n="common.cancel"></span>
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-confirm-click="thingDelete(selectedThing)" ng-confirm-icon="warning"
                    ng-disabled="!formLoaded || newThing"
                    i18n-attr="{'ngConfirmMessage': 'thing.Delete','ngConfirmTitle': 'thing.Delete','ngConfirmNoBtn': 'common.no', 'ngConfirmYesBtn': 'common.yes' }">
                <span class="fa fa-trash"></span>
                <span class="hidden-xs hidden-sm" i18n="common.delete"></span>
            </button>

            <div class="pull-right btn-group">
                <div class="pull-right btn-group" uib-dropdown>
                    <button type="button"
                            class="btn btn-default"
                            uib-dropdown-toggle>
                        <span class="fa fa-cog"></span>
                        <span i18n="habmin.Tools"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="config in actionList = (selectedThingConfig.parameters | filter:checkActions())">
                            <a ng-click="doAction(config)">
                                <span class="fa fa-fw"></span>
                                <span class="fa fa-fw fa-cog"></span>
                                <span>{{config.label}}</span>
                            </a>
                        </li>

                        <li ng-if="actionList.length" class="divider"></li>

                        <li>
                            <a ng-click="showAdvancedSettings=!showAdvancedSettings">
                                <span class="fa fa-fw" ng-class="{'fa-check-square-o': showAdvancedSettings}"></span>
                                <span class="fa fa-fw fa-mortar-board"></span>
                                <span i18n="habmin.AdvancedMode"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="list-group habmin-list" resize-panel>
            <form name="thingConfigForm" novalidate ng-show="formLoaded" class="ng-hide-add" style="height:100%">
                <!-- OVERVIEW -->
                <div>
                    <a role="presentation"
                       ng-class="{'list-group-item config-panel-title':true, 'active': panelDisplayed=='OVERVIEW'}"
                       ng-click="setPanelDisplayed('OVERVIEW')">
                        <span class="fa fa-fw fa-book"></span>
                        <span i18n="habmin.Description"></span>
                    </a>
                </div>
                <div uib-collapse="panelDisplayed!='OVERVIEW'" class="panel-form">
                    <div i18n="thing.ThingTypeLabel"></div>
                    <div class="well well-sm" ng-bind-html="selectedThingType.label"></div>

                    <div i18n="thing.ThingTypeDescription"></div>
                    <div class="well well-sm" ng-bind-html="selectedThingType.description"></div>

                    <div ng-repeat="channel in selectedThing.channels">
                        <div>{{channel.label}}</div>

                        <div class="well well-sm">
                            <div ng-show="getChannelItems(channel).length" ng-repeat="item in getChannelItems(channel)">
                                <div style="display:inline-block;">
                                    <div>
                                        <habmin-icon class="fa fa-fw"
                                                     itemtype="{{getItem(item).type}}"></habmin-icon>
                                        {{getItem(item).label}}
                                    </div>
                                    <div class="small">{{getItem(item).name}}</div>
                                </div>
                                <div class="pull-right">
                                    <ng-include bs-modifiable="false"
                                                ng-init="cfgType='CFG';"
                                                src="'configuration/itemWidget.tpl.html'">
                                    </ng-include>
                                </div>
                            </div>
                            <div ng-hide="getChannelItems(channel).length" i18n="common.none">
                            </div>
                        </div>
                    </div>

                    <div ng-if="selectedThing.channels.length">
                        <button type="button" class="btn btn-xs"
                                ng-click="refreshChannelItems()"
                                tooltip-placement="top" tooltip="Refresh all items on this thing"
                                tooltip-popup-delay="1500"
                                tooltip-enable="true" tooltip-trigger
                                tooltip-animation="false"
                                tooltip-append-to-body="true">
                            <span class="fa fa-refresh"></span>
                            <span i18n="thing.RefreshItems">Refresh Items</span>
                        </button>
                    </div>
                </div>

                <!-- PROPERTIES -->
                <div>
                    <a role="presentation"
                       ng-class="{'list-group-item config-panel-title':true, 'active': panelDisplayed=='PROPERTIES'}"
                       ng-click="setPanelDisplayed('PROPERTIES')">
                        <span class="fa fa-fw fa-info"></span>
                        <span i18n="thing.Properties"></span>
                    </a>
                </div>
                <div uib-collapse="panelDisplayed!='PROPERTIES'" class="panel-form">
                    <div class="form-group">
                        <label for="inputThingLabel" class="control-label" i18n="thing.Label"></label>
                        <input type="text"
                               class="form-control"
                               id="inputThingLabel"
                               name="thingLabel"
                               ng-model="selectedThing.label"
                               i18n-attr="{placeholder: 'thing.SelectLabel'}">
                    </div>

                    <div class="form-group">
                        <label for="inputThingLocation" class="control-label" i18n="thing.Location"></label>
                        <input type="text"
                               class="form-control"
                               id="inputThingLocation"
                               name="thingLocation"
                               ng-model="selectedThing.location"
                               i18n-attr="{placeholder: 'thing.SelectLocation'}">
                    </div>

                    <div class="form-group"
                         ng-if="selectedThingType.bridge==false && selectedThingType.supportedBridgeTypeUIDs!=null && selectedThingType.supportedBridgeTypeUIDs.length>0">
                        <label for="inputBridge" class="control-label" i18n="thing.EditBridge"></label>

                        <div>
                            <ui-select id="inputBridge"
                                       ng-model="selectedThing.bridgeUID"
                                       theme="bootstrap"
                                       name="thingBridge"
                                       search-enabled="false">
                                <ui-select-match i18n-attr="{placeholder: 'thing.SelectBridge'}">
                                    <habmin-icon class="fa fa-fw"
                                                 category="{{$select.selected.item.category}}"></habmin-icon>
                                    {{$select.selected.label}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="bridge.UID as bridge in things | filter:bridgeFilter | orderBy:'label'">
                                    <habmin-icon class="fa fa-fw"
                                                 category="{{category.item.category}}"></habmin-icon>
                                    <span>{{bridge.label}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <label for="inputCategory" class="control-label" i18n="item.EditCategory"></label>

                        <div>
                            <ui-select id="inputCategory"
                                       ng-model="selectedThing.item.category"
                                       theme="bootstrap"
                                       name="thingCategory"
                                       search-enabled="false"
                                    >
                                <ui-select-match i18n-attr="{placeholder: 'item.SelectCategory'}">
                                    <habmin-icon class="fa fa-fw" category="{{$select.selected.id}}"></habmin-icon>
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="category.id as category in categories | orderBy: 'name'">
                                    <habmin-icon class="fa fa-fw" category="{{category.id}}"></habmin-icon>
                                    <span>{{category.name}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputGroups" class="control-label" i18n="item.EditGroups"></label>

                        <div>
                            <ui-select id="inputGroups"
                                       ng-model="selectedThing.item.groupNames"
                                       theme="bootstrap"
                                       search-enabled="false"
                                       name="itemGroups"
                                       multiple
                                    >
                                <ui-select-match i18n-attr="{placeholder: 'item.SelectGroup'}">
                                    <habmin-icon class="fa fa-fw" category="{{$item.category}}"></habmin-icon>
                                    {{$item.label}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="group.name as group in itemList | filter: {type: 'GroupItem'} | orderBy: 'label'">
                                    <habmin-icon class="fa fa-fw" category="{{group.category}}"></habmin-icon>
                                    <span>{{group.label}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    -->
                </div>

                <!-- CONFIGURATION GROUPS -->
                <div ng-repeat="group in selectedThingConfig.parameterGroups | filter:{name: '!actions'}">
                    <div>
                        <a role="presentation"
                           ng-class="{'list-group-item list-group-item-heading':true, 'active': panelDisplayed=='CONFIG-{{group.name}}'}"
                           ng-click="setPanelDisplayed('CONFIG-'+group.name)"
                           ng-if="configGroupAdvanced(group)||showAdvancedSettings">
                            <habmin-icon class="fa-fw" cfgcontext="{{group.context}}"></habmin-icon>
                            <span>{{group.label}}</span>
                        </a>
                    </div>
                    <div uib-collapse="$parent.panelDisplayed!='CONFIG-{{group.name}}'"
                         class="panel-form">
                        <div ng-repeat="config in selectedThingConfig.parameters">
                            <div class="form-group"
                                 ng-if="configGroupFilter(config, group.name) && (!config.advanced||showAdvancedSettings)">
                                <ng-include
                                        ng-init="cfgType='CFG';cfgModel=selectedThing.configuration[config.name];cfgStatus=selectedThingStatus[config.name]"
                                        src="'configuration/eshConfigParam.tpl.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CONFIGURATION UNGROUPED -->
                <div ng-if="thingHasUngroupedParams()">
                    <div>
                        <a role="presentation"
                           ng-class="{'list-group-item list-group-item-heading':true, 'active': panelDisplayed=='CONFIG-ungrouped'}"
                           ng-click="setPanelDisplayed('CONFIG-ungrouped')">
                            <span class="fa fa-fw fa-wrench"></span>
                            <span i18n="habmin.Configuration"></span>
                        </a>
                    </div>
                    <div uib-collapse="$parent.panelDisplayed!='CONFIG-ungrouped'"
                         class="panel-form">
                        <div ng-repeat="config in selectedThingConfig.parameters">
                            <div class="form-group"
                                 ng-if="configGroupFilter(config, null) && (!config.advanced||showAdvancedSettings)">
                                <ng-include ng-init="cfgType='CFG';cfgModel=selectedThing.configuration[config.name]"
                                            src="'configuration/eshConfigParam.tpl.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CHANNELS -->
                <div ng-show="selectedThing.channels != null && selectedThing.channels.length != 0">
                    <a role="presentation" ng-class="{'list-group-item':true, 'active': panelDisplayed=='CHANNELS'}"
                       ng-click="setPanelDisplayed('CHANNELS')">
                        <span class="fa fa-fw fa-navicon"></span>
                        <span i18n="thing.Channels" data-active="{{countActiveChannels()}}"
                              data-total="{{selectedThing.channels.length}}"></span>
                    </a>
                </div>
                <div uib-collapse="panelDisplayed!='CHANNELS'" class="panel-form">
                    <div ng-repeat="channel in selectedThing.channels">
                        <!-- Channel Information -->
                        <div class="form-group">
                            <label for="CHANNELLABEL{{$index+1}}"
                                   class="control-label">{{channel.channelType.label}}</label>

                            <div class="input-group">
                                <span class="input-group-addon category-icon">
                                    <habmin-icon category="{{channel.channelType.category}}"></habmin-icon>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       id="CHANNELLABEL{{$index+1}}"
                                       readonly="true"
                                       value="{{channel.channelType.description}}"
                                       placeholder="{{channel.channelType.category}}">

                                <span class="input-group-addon">
                                        <span ng-if="channel.linkedItems.length>0"
                                              class="fa fa-check-circle text-success"></span>
                                        <span ng-if="channel.linkedItems.length==0"
                                              class="fa fa-times-circle text-danger"></span>
                                </span>
                            </div>

                            <!-- Channel Configuration Form -->
                            <div ng-if="channel.configDescription!=null && channel.configDescription.parameters!=null && channel.configDescription.parameters.length>0">
                                <div class="thing-items well well-sm">
                                    <div>
                                        <strong class="text-muted" i18n="thing.ChannelConfiguration"></strong>
                                    </div>
                                    <div class="panel-form">
                                        <div ng-repeat="config in channel.configDescription.parameters">
                                            <div ng-form="{{channel.id}}" class="form-group">
                                                <ng-include
                                                        ng-init="cfgType='CHAN';cfgModel=channel.configuration[config.name]"
                                                        src="'configuration/eshConfigParam.tpl.html'"></ng-include>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="thing-items well well-sm" ng-switch="channel.linkedItems.length">
                                <div ng-switch-when="0">
                                    <strong class="text-muted" i18n="thing.ChannelNoItems"></strong>

                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-xs"
                                                ng-click="linkItem(channel)"
                                                tooltip-placement="top" tooltip="Link channel to an existing item"
                                                tooltip-popup-delay="1500"
                                                tooltip-enable="true" tooltip-trigger tooltip-animation="false"
                                                tooltip-append-to-body="true">
                                            <span class="fa fa-link"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-xs"
                                                ng-click="addItem(channel)"
                                                tooltip-placement="top"
                                                tooltip="Create a new item and link it to the channel"
                                                tooltip-popup-delay="1500"
                                                tooltip-enable="true" tooltip-trigger tooltip-animation="false"
                                                tooltip-append-to-body="true">
                                            <span class="fa fa-plus-circle"></span>
                                        </button>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <td class="thing-items-title text-muted">
                                                <strong i18n="thing.ChannelItems"></strong>
                                            </td>
                                            <td>
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-primary btn-xs"
                                                            ng-click="linkItem(channel)"
                                                            tooltip-placement="top"
                                                            tooltip="Link channel to an existing item"
                                                            tooltip-popup-delay="1500"
                                                            tooltip-enable="true" tooltip-trigger
                                                            tooltip-animation="false"
                                                            tooltip-append-to-body="true">
                                                        <span class="fa fa-link"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-xs"
                                                            ng-click="addItem(channel)"
                                                            tooltip-placement="top"
                                                            tooltip="Create a new item and link it to the channel"
                                                            tooltip-popup-delay="1500"
                                                            tooltip-enable="true" tooltip-trigger
                                                            tooltip-animation="false"
                                                            tooltip-append-to-body="true">
                                                        <span class="fa fa-plus-circle"></span>
                                                    </button>
                                                </div>
                                            </td>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="itemName in channel.linkedItems"
                                            ng-init="item=getItem(itemName)">
                                            <td class="span-hover">
                                                <button type="button" class="btn btn-primary btn-xs"
                                                        ng-click="editItem(item, channel)"
                                                        tooltip-placement="top" tooltip="Edit the item"
                                                        tooltip-popup-delay="1500"
                                                        tooltip-enable="true" tooltip-trigger tooltip-animation="false"
                                                        tooltip-append-to-body="true">
                                                    <span class="fa fa-edit"></span>
                                                </button>
                                                <habmin-icon class="fa fa-fw"
                                                             itemtype="{{item.type}}"></habmin-icon>
                                                {{item.label}}
                                                <span tooltip-placement="top" tooltip="copy item name to clipboard"
                                                      tooltip-popup-delay="1500"
                                                      tooltip-enable="true" tooltip-trigger tooltip-animation="false"
                                                      tooltip-append-to-body="true">
                                                    <span class="span-hover-hide fa fa-clipboard" clipboard
                                                          text="item.name"
                                                          on-copied="copySuccess(item.name)"
                                                          on-error="copyFailure(err)">
                                                    </span>
                                                </span>
                                            </td>
                                            <td>
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-warning btn-xs"
                                                            ng-confirm-click="unlinkItem(item, channel)"
                                                            tooltip-placement="top" tooltip="Unlink the item"
                                                            tooltip-popup-delay="1500"
                                                            tooltip-enable="true" tooltip-trigger
                                                            tooltip-animation="false"
                                                            tooltip-append-to-body="true"
                                                            ng-confirm-icon="warning"
                                                            i18n-attr="{'ngConfirmMessage': 'thing.ChannelUnlinkConfirm','ngConfirmTitle': 'thing.ChannelUnlinkTitle','ngConfirmNoBtn': 'common.no', 'ngConfirmYesBtn': 'common.yes' }">
                                                        <span class="fa fa-unlink"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                            ng-confirm-click="deleteItem(item, channel)"
                                                            tooltip-placement="top" tooltip="Delete the item"
                                                            tooltip-popup-delay="1500"
                                                            tooltip-enable="true" tooltip-trigger
                                                            tooltip-animation="false"
                                                            tooltip-append-to-body="true"
                                                            ng-confirm-icon="warning"
                                                            i18n-attr="{'ngConfirmMessage': 'thing.ChannelDeleteConfirm','ngConfirmTitle': 'thing.ChannelDeleteTitle','ngConfirmNoBtn': 'common.no', 'ngConfirmYesBtn': 'common.yes' }">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ATTRIBUTES -->
                <div ng-show="selectedThingHasProperties">
                    <a role="presentation"
                       ng-class="{'list-group-item config-panel-title':true, 'active': panelDisplayed=='ATTRIBUTES'}"
                       ng-click="setPanelDisplayed('ATTRIBUTES')">
                        <span class="fa fa-fw fa-pencil-square"></span>
                        <span i18n="thing.Attributes"></span>
                    </a>
                </div>
                <div uib-collapse="panelDisplayed!='ATTRIBUTES'" class="panel-form">
                    <div ng-switch="selectedThing.thingTypeUID.split(':')[0]">
                        <div ng-switch-when="zwave">
                            <ng-include src="'configuration/thingAttributesZWave.tpl.html'"></ng-include>
                        </div>

                        <div ng-switch-default>
                            <div class="row" ng-repeat="(attName, attValue) in selectedThing.properties">
                                <div class="col-md-4">{{attName}}</div>
                                <div class="col-md-8">{{attValue}}</div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>

        <!-- Footer -->
        <div class="panel-footer panel-footer-none">
        </div>
    </div>
</div>
