<div class="col-sm-4">
    <div class="panel panel-default">
        <!-- Header -->
        <div class="panel-heading">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-cog"></span>
                    <span i18n="zwave.zwaveNetworkTools"></span>
                    <span class="caret"></span>
                    <span class="sr-only">Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="networkHeal()">
                        <span class="fa fa-fw fa-ambulance"></span>
                        <span i18n="zwave.zwaveNetworkHeal"></span>
                    </a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a ng-click="networkInclude()">
                        <span class="fa fa-fw fa-sign-in"></span>
                        <span i18n="zwave.zwaveNetworkInclude"></span>
                    </a></li>
                    <li><a ng-click="networkExclude()">
                        <span class="fa fa-fw fa-sign-out"></span>
                        <span i18n="zwave.zwaveNetworkExclude"></span>
                    </a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a ng-click="networkSoftReset()">
                        <span class="fa fa-fw fa-power-off"></span>
                        <span i18n="zwave.zwaveNetworkReset"></span>
                    </a></li>
                    <li><a ng-click="networkReplicate()">
                        <span class="fa fa-fw fa-copy fa-fw"></span>
                        <span i18n="zwave.zwaveNetworkReplicate"></span>
                    </a></li>
                </ul>
            </div>
        </div>

        <!-- Body -->
        <div class="list-group habmin-list" ng-style="styleList()" resize-page1>
            <div ng-repeat="choice in devices">
                <a role="presentation" class="list-group-item" ng-click="selectRule(choice)">
                    <habmin-icon class="icon-lg" icon="{{choice.icon}}"></habmin-icon>
                    <span>{{choice.label}}</span>
                    <span class="pull-right">
                        <span popover="{{stateOnline(choice)}}" popover-trigger="mouseenter" popover-placement="top"
                              popover-append-to-body="true" popover-popup-delay="500">
                            <span ng-class="{'text-success': choice.state =='OK','text-danger': choice.state =='ERROR','text-warning': choice.state =='WARNING','text-muted': choice.state =='INITIALIZING'}">
                                <span class="fa fa-rss"></span>
                            </span>
                        </span>
                        <span popover="{{stateHeal(choice)}}" popover-trigger="mouseenter" popover-placement="top"
                              popover-append-to-body="true" popover-popup-delay="500">
                            <span ng-class="{'text-success': choice.healState =='RUN','text-danger': choice.healState =='ERROR','text-warning': choice.healState =='WAIT','text-muted': choice.healState =='OK'}">
                                <span class="fa fa-ambulance"></span>
                            </span>
                        </span>
                    </span>
                    <br>
                    <span class="small">{{choice.type}}</span>
                </a>
            </div>
        </div>
        <div class="panel-footer panel-footer-small">
        </div>
    </div>
</div>

<div class="col-sm-8">
    <div class="panel panel-default">
        <!-- Header -->
        <div class="panel-heading">
            <button type="button" ng-class="{'btn btn-default':true, 'disabled':!isDirty}">
                <span class="fa fa-trash-o"></span>
                <span i18n="common.delete"></span>
            </button>
        </div>

        <!-- Body -->
        <div class="list-group habmin-list" ng-style="styleList()">
        </div>
        <div class="panel-footer panel-footer-small">
        </div>
    </div>
</div>
