<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div>
                <!-- Split button to select items or chart mode -->
                <div class="btn-group">

                </div>

                <div class="btn-group pull-right">
                    <button type="button btn-sm" class="btn btn-default" ng-if="!selectCharts">
                        <a href ng-click="doChart()">
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </button>

                    <button type="button btn-sm" class="btn btn-default" ng-if="!selectCharts">
                        <a href ng-click="clearList()">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div id="ruleList" class="list-group habmin-list" ng-style="styleRuleList()" ng-if="!selectCharts" resize-page>
            <div ng-repeat="choice in rules">
                <a href role="presentation" class="list-group-item"
                   ng-click="selectRule(choice)">
                    <span>{{choice.name}}</span>
                </a>
            </div>

            <div ng-if="!rulesTotal" class="list-group-item text-center">
                <span class="fa fa-exclamation-triangle"></span>
                <span i18n="habmin.ruleNoRules"></span>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-8">

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="">
                <a>
                    <span class="fa fa-floppy-o"></span>
                    <span i18n="common.save"></span>
                </a>
            </li>
            <li>
                <a>
                    <span class="fa fa-times"></span>
                    <span i18n="common.cancel"></span>
                </a>
            </li>

            <li ng-class="{'active':editSource==true, 'pull-right':true}">
                <a ng-click="showSource()">
                    <span class="fa fa-code"></span>
                    <span i18n="habmin.ruleSource"></span>
                </a>
            </li>
            <li ng-class="{'active':editSource==false, 'pull-right':true}">
                <a ng-click="showRule()">
                    <span class="fa fa-puzzle-piece"></span>
                    <span i18n="habmin.ruleRule"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="panel panel-primary" ng-style="styleEditor()" resize-page>
        <ng-blockly ng-show="!editSource" ng-model="blockEditor">
        </ng-blockly>

        <div ng-show="editSource" ng-model="codeEditor" ui-ace="{
              useWrapMode : true,
              showGutter: true,
              theme:'tomorrow_night_bright',
              mode: 'openhabrules',
              firstLineNumber: 5
             }"
             ng-style="styleEditor()"> Blah blah bla....
        </div>
    </div>

</div>