<div class="modal-header">
    <h3 class="modal-title" i18n="habmin.userChartPrefTitle"></h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="inputDefaultPeriod" class="col-sm-3 control-label" i18n="habmin.userChartPeriod"></label>

            <div class="col-sm-9">
                <select select class="form-control" id="inputDefaultPeriod">
                    <option value="3600" i18n="habmin.period1Hour"></option>
                    <option value="7200" i18n="habmin.period2Hours"></option>
                    <option value="10800" i18n="habmin.period3Hours"></option>
                    <option value="14400" i18n="habmin.period4Hours"></option>
                    <option value="21600" i18n="habmin.period6Hours"></option>
                    <option value="32400" i18n="habmin.period9Hours"></option>
                    <option value="43200" i18n="habmin.period12Hours"></option>
                    <option value="86400" i18n="habmin.period1Day"></option>
                    <option value="172800" i18n="habmin.period2Days"></option>
                    <option value="259200" i18n="habmin.period3Days"></option>
                    <option value="345600" i18n="habmin.period4Days"></option>
                    <option value="432000" i18n="habmin.period5Days"></option>
                    <option value="604800" i18n="habmin.period1Week"></option>
                    <option value="1209600" i18n="habmin.period2Weeks"></option>
                    <option value="1814400" i18n="habmin.period3Weeks"></option>
                    <option value="2419200" i18n="habmin.period1Month"></option>
                    <option value="5184000" i18n="habmin.period2Months"></option>
                    <option value="7776000" i18n="habmin.period3Months"></option>
                    <option value="10454400" i18n="habmin.period4Months"></option>
                    <option value="15724800" i18n="habmin.period6Months"></option>
                    <option value="23095800" i18n="habmin.period9Months"></option>
                    <option value="31536000" i18n="habmin.period1Year"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDefaultPeriod" class="col-sm-3 control-label" i18n="habmin.userChartLegend"></label>

            <div class="col-sm-9">
                <input type="checkbox">
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" i18n="common.save"></button>
    <button class="btn btn-warning" ng-click="cancel()" i18n="common.cancel"></button>
</div>
