<div class="modal-header">
    <h3 class="modal-title" i18n="habmin.userChartPrefTitle"></h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="inputDefaultPeriod" class="col-sm-3 control-label" i18n="habmin.userChartPeriod"></label>

            <div class="col-sm-9">
                <select class="form-control" id="inputDefaultPeriod">
                    <option value="-1">hello</option>
                    <option value="3600" i18n="habmin.period1Hour"></option>
                    <option value="1">hello 2</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDefaultPeriod" class="col-sm-3 control-label" i18n="habmin.userChartLegend"></label>

            <div class="col-sm-9">
                <input type="checkbox">
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" i18n="common.save"></button>
    <button class="btn btn-warning" ng-click="cancel()" i18n="common.cancel"></button>
</div>
