<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div>
                <span class="glyphicon glyphicon-list"></span>
                <span i18n="habmin.chartItemList"></span>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs">
                        <a href ng-click="doChart()">
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </button>

                    <button type="button" class="btn btn-default btn-xs">
                        <a href ng-click="clearList()">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </button>

                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="choice in services">
                            <a role="presentation" ng-click="selectService(choice)">
                                <span>{{choice.name}}</span>
                                <span ng-if="choice.selected" class="pull-right glyphicon glyphicon-check"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="custom-search-form" class="input-group col-xs-12">
                <input type="text" class="search-query" placeholder={{filterDefaultString}} ng-model="filterText" ng-model-options="{debounce: 1000}">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-xs" type="button" ng-click="filterText=''">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </button>
                </span>
            </div>
        </div>
        <div id="itemList" class="list-group habmin-list" ng-style="styleList()" resize-page>
            <div ng-if="itemsTotal" ng-repeat="choice in items | filter:filterFunction">
                <a href role="presentation" ng-hide="choice.filter" class="list-group-item" ng-click="selectItem(choice)">
                    <span width="20px"><img fill="blue" height="20" src="../images/temp_windchill.svg"></span>
                    <span>{{choice.label}}</span>
                    <span class="pull-right">
                        <span ng-if="choice.selected" class="glyphicon glyphicon-check"></span>
                    </span>
                </a>
            </div>

            <div ng-if="!itemsTotal" class="list-group-item text-center">
                <span class="glyphicon glyphicon-warning-sign"></span>
                <span i18n="habmin.chartNoItems"></span>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="text-center">
                        <span i18n="habmin.chartTotalItems"></span>
                        <span class="label label-info">{{itemsTotal}}</span>
                    </h6>
                </div>
                <div class="col-md-6">
                    <h6 class="text-center">
                        <span i18n="habmin.chartSelectedItems"></span>
                        <span class="label label-success">{{itemsSelected}}</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="panel panel-primary" ng-style="styleChart()" resize-page>
        <dygraphs
                data="graph.data"
                opts="graph.opts">
        </dygraphs>
    </div>
</div>