<!-- Chart and Item Lists -->
<div class="col-sm-4">
    <div class="panel panel-default">
        <!-- Header -->
        <div class="panel-heading">
            <!-- Button to select items or chart mode -->
            <div class="btn-group dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span i18n="habmin.chartChartList" ng-show="selectCharts"></span>
                    <span i18n="habmin.chartItemList" ng-show="!selectCharts"></span>
                    <span class="caret"></span>
                    <span class="sr-only">Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="setType(true)">
                        <span class="fa fa-pie-chart"></span>
                        <span i18n="habmin.chartChartList"></span>
                            <span class="pull-right">
                                <span ng-if="selectCharts" class="fa fa-check-square-o"></span>
                            </span>
                    </a></li>
                    <li><a ng-click="setType(false)">
                        <span class="fa fa-list-alt"></span>
                        <span i18n="habmin.chartItemList"></span>
                            <span class="pull-right">
                                <span ng-if="!selectCharts" class="fa fa-check-square-o"></span>
                            </span>
                    </a></li>
                </ul>
            </div>

            <div class="pull-right">
                <div class="btn-group dropdown">
                    <button type="button" ng-if="!selectCharts"
                            ng-class="{'btn btn-default': true, 'disabled': !itemsSelected}">
                        <a ng-click="doChart()">
                            <span class="fa fa-play"></span>
                        </a>
                    </button>
                    <button type="button" ng-if="!selectCharts"
                            ng-class="{'btn btn-default': true, 'disabled': !itemsSelected}">
                        <a ng-click="clearList()">
                            <span class="fa fa-times"></span>
                        </a>
                    </button>

                    <!-- Tools menu -->
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-cog"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="choice in services">
                            <a role="presentation" ng-click="selectService(choice)">
                                <span>{{choice.name}}</span>
                                <span ng-if="choice.selected" class="pull-right fa fa-check-square-o"></span>
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li ng-if="!selectCharts" ng-class="{'disabled': !itemsSelected}">
                            <a ng-click="saveChart()">
                                <span i18n="habmin.chartSaveChart"></span>
                            </a>
                        </li>
                        <li ng-if="selectCharts" ng-class="{'disabled': !selectedChart}">
                            <a ng-click="editChart()">
                                <span i18n="habmin.chartEditChart"></span>
                            </a>
                        </li>
                        <li ng-if="selectCharts" ng-class="{'disabled': !selectedChart}">
                            <a ng-confirm-click="deleteChart()"
                               data-i18n-attr="{'ngConfirmMessage': 'habmin.chartDeleteChartCheck','ngConfirmTitle': 'habmin.chartDeleteChart','ngConfirmNoBtn': 'common.no', 'ngConfirmYesBtn': 'common.yes'}"
                               chartname="{{selectedChart.name}}">
                                <span i18n="habmin.chartDeleteChart"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- FILTER BOX -->
            <div id="custom-search-form" class="input-group input-group-sm" ng-if="!selectCharts">
                <span class="input-group-addon"><span class=" fa fa-filter"></span></span>
                <input type="text" class="form-control" placeholder={{filterDefaultString}} ng-model="filter.text"
                       ng-model-options="{debounce: 1000}">
                <span class="input-group-addon"><span class="fa fa-minus-circle"></span></span>
            </div>
        </div>

        <!-- Display the list of items -->
        <div id="itemList" class="list-group habmin-list" ng-if="!selectCharts" resize-panel>
            <div ng-if="itemsTotal>0" ng-repeat="choice in items | filter:filterFunction">
                <a role="presentation" ng-hide="choice.filter"
                   ng-class="{'list-group-item': true, 'active':choice.selected}"
                   ng-click="selectItem(choice)">
                    <habmin-icon class="icon-lg" icon="{{choice.icon}}"></habmin-icon>
                    <span>{{choice.label}}</span>
                    <span class="pull-right">
                        <span ng-if="choice.selected" class="fa fa-check-square-o"></span>
                    </span>
                </a>
            </div>

            <!-- Cover options for loading, and no items -->
            <div ng-if="itemsTotal==-1" class="list-group-item text-center">
                <span class="fa fa-spin fa-refresh"></span>
                <span i18n="common.loading"></span>
            </div>
            <div ng-if="itemsTotal==0" class="list-group-item text-center">
                <span class="fa fa-exclamation-triangle"></span>
                <span i18n="habmin.chartNoItems"></span>
            </div>
        </div>

        <!-- Display the list of predefined charts -->
        <div id="chartList" class="list-group habmin-list" ng-if="selectCharts" resize-panel>
            <div ng-if="chartsTotal>0" ng-repeat="choice in charts">
                <a role="presentation" ng-class="{'list-group-item': true, 'active': choice.selected=='yes'}" ng-class="{'active':choice.selected=='yes'}"
                   ng-click="selectChart(choice)">
                    <habmin-icon class="icon-lg" icon="{{choice.icon}}"></habmin-icon>
                    <span>{{choice.name}}</span>
                    <span class="pull-right">
                        <span ng-class="{'fa': true, 'fa-check-square-o': choice.selected=='yes', 'fa-spinner fa-spin': choice.selected=='loading'}"></span>
                    </span>
                </a>
            </div>

            <!-- Cover options for loading, and no charts -->
            <div ng-if="chartsTotal==-1" class="list-group-item text-center">
                <span class="fa fa-spin fa-refresh"></span>
                <span i18n="common.loading"></span>
            </div>
            <div ng-if="chartsTotal==0" class="list-group-item text-center">
                <span class="fa fa-exclamation-triangle"></span>
                <span i18n="habmin.chartNoCharts"></span>
            </div>
        </div>
        <!-- Footer -->
        <div class="panel-footer panel-footer-none">
        </div>
    </div>
</div>

<!-- Chart -->
<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding:3px;">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default" ng-disabled="!graphLoaded||calendarOpen"
                        ng-click="stepWindow(-1)">
                    <span class="fa fa-backward"></span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="!graphLoaded||calendarOpen"
                        ng-click="stepWindow(1)">
                    <span class="fa fa-forward"></span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="!graphLoaded||calendarOpen"
                        ng-click="setNow()">
                    <span class="fa fa-fast-forward"></span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="!graphLoaded||calendarOpen"
                        ng-click="zoomWindow(0.10)">
                    <span class="fa fa-search-minus"></span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="!graphLoaded||calendarOpen"
                        ng-click="zoomWindow(-0.10)">
                    <span class="fa fa-search-plus"></span>
                </button>
            </div>
            <div ng-class="{'btn-group btn-group-sm dropdown': true, 'open': calendarOpen}">
                <button type="button" class="btn btn-default" ng-disabled="!graphLoaded||calendarOpen"
                        ng-class="{active:graphWindow=='day'}" ng-click="setWindow('day')">
                        <span class="calendar-stack">
                            <span class="fa fa-calendar-o"></span>
                            <span class="calendar-day">1</span>
                        </span>
                    <span>Day</span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="!graphLoaded||calendarOpen"
                        ng-class="{active:graphWindow=='week'}" ng-click="setWindow('week')">
                        <span class="calendar-stack">
                            <span class="fa fa-calendar-o"></span>
                            <span class="calendar-day">7</span>
                        </span>
                    <span>Week</span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="!graphLoaded||calendarOpen"
                        ng-class="{active:graphWindow=='month'}" ng-click="setWindow('month')">
                        <span class="calendar-stack">
                            <span class="fa fa-calendar-o"></span>
                            <span class="calendar-day">30</span>
                        </span>
                    <span>Month</span>
                </button>
                <button type="button" class="btn btn-default dropdown" ng-disabled="!graphLoaded"
                        ng-init="calendarOpen=false" ng-click="calendarOpen=!calendarOpen">
                    <span class="fa fa-clock-o"></span>&nbsp;Custom
                </button>
                <div class="dropdown-menu dropdown_dialog">
                    <table>
                        <tr>
                            <td align="center" style="padding-right: 3px;">
                                <span>Start Date</span>
                            </td>
                            <td align="center" style="padding-left: 3px;">
                                <span>End Date</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 3px;">
                                <datepicker ng-model="startTime" max-date="stopTime" max-mode="day" show-weeks="true"></datepicker>
                            </td>
                            <td style="padding-left: 3px;">
                                <datepicker ng-model="stopTime" min-date="startTime" max-date="timeNow" max-mode="day" show-weeks="true"></datepicker>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" ng-click="setDateRange();calendarOpen=false;">OK</button>
                    <button class="btn btn-sm btn-warning" ng-click="calendarOpen=false;">Cancel</button>
                    </div>
                </div>
            </div>

            <div ng-show="graphLoaded" class="pull-right">
                <h6>{{graphTimeline}}</h6>
            </div>
        </div>

        <div class="panel-body" style="padding:3px;" resize-panel>
            <vis-graph2d ng-show="graphLoaded" data="graphData" options="graphOptions"
                         events="graphEvents"></vis-graph2d>
        </div>
    </div>
</div>
