<div ng-if="editMode" class="page-header">
    <div class="btn-group btn-group-sm" role="group">
        <button class="btn btn-sm btn-primary" ng-click="dashboardProperties()"><i class="fa fa-bookmark-o"></i> <span
                i18n="common.properties"></span></button>
        <div class="dashboard-toolbar btn-group dropdown">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-plus-square-o"></span> <span i18n="habmin.dashboardAddWidget"></span>
                <span class="caret"></span>
                <span class="sr-only">Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a role="presentation" ng-click="addWidget('Chart')">
                        <span class="fa fa-fw fa-area-chart"></span>
                        <span i18n="habmin.dashboardAddChart"></span>
                    </a>
                </li>
                <li>
                    <a ng-click="addWidget('Gauge')">
                        <span class="fa fa-fw fa-dashboard"></span>
                        <span i18n="habmin.dashboardAddGauge"></span>
                    </a>
                </li>
                <li>
                    <a ng-click="addWidget('Image')">
                        <span class="fa fa-fw fa-picture-o"></span>
                        <span i18n="habmin.dashboardAddImage"></span>
                    </a>
                </li>
                <li>
                    <a ng-click="addWidget('Group')">
                        <span class="fa fa-fw fa-sliders"></span>
                        <span i18n="habmin.dashboardAddGroup"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="btn-group btn-group-sm pull-right" role="group">
        <button class="btn btn-sm btn-default" ng-click="saveDashboard()"
                ng-disabled="isDirty==false" ng-class="{'btn-warning': isDirty}">
            <span class="fa fa-save"></span> <span i18n="common.save"></span>
        </button>
        <button class="btn btn-sm btn-default" ng-click="endEdit()">
            <span class="fa fa-check-square"></span> <span i18n="common.close"></span>
        </button>
        <button class="btn btn-sm btn-default" ng-confirm-click="clearDashboard()"
                ng-disabled="dashboard.widgets.length==0"
                i18n-attr="{'ngConfirmMessage': 'habmin.dashboardClearText','ngConfirmTitle': 'habmin.dashboardClearTitle','ngConfirmNoBtn': 'common.no', 'ngConfirmYesBtn': 'common.yes'}">
            <span class="fa fa-file-o"></span> <span i18n="common.clear"></span>
        </button>
        <button class="btn btn-sm btn-default" ng-confirm-click="deleteDashboard()"
                ng-disabled="dashboard.id==0"
                i18n-attr="{'ngConfirmMessage': 'habmin.dashboardDeleteText','ngConfirmTitle': 'habmin.dashboardDeleteTitle','ngConfirmNoBtn': 'common.no', 'ngConfirmYesBtn': 'common.yes'}">
            <span class="fa fa-trash-o"></span> <span i18n="common.delete"></span>
        </button>
    </div>
</div>

<div gridster="gridsterOptions">
    <ul>
        <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
            <div ng-class="{'dashboard':true, 'dashboard-edit':editMode}">
                <div ng-if="editMode" class="dashboard-header">
                    <div class="dashboard-header-btns pull-right">
                        <a title="settings" ng-click="configWidget(widget)"><span class="fa fa-cog"></span></a>
                        <a title="Remove widget" ng-click="removeWidget(widget)"><span class="fa fa-trash"></span></a>
                    </div>
                </div>

                <dashboard-widget class="dashboard-content" widget="widget"></dashboard-widget>
            </div>
        </li>
    </ul>
</div>
