<div class="modal-header">
    <h3 class="modal-title" i18n="habmin.dashboardPropertiesTitle"></h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="inputName" class="control-label" i18n="habmin.dashboardPropertiesName"></label>

            <div>
                <input type="text" ng-model="dashboard.name" class="form-control" id="inputName" placeholder="Label">
            </div>
        </div>

        <div class="form-group">
            <label for="inputName" class="control-label" i18n="habmin.dashboardPropertiesCategory"></label>

            <div>
                <form-select-category ng-model="dashboard.category" id="inputName" placeholder="Category" />
            </div>
        </div>

        <div class="form-group">
            <label for="inputName" class="control-label" i18n="habmin.dashboardPropertiesShowMenu"></label>

            <div>
                <form-select-yes-no ng-model="dashboard.menu" id="inputName" placeholder="Label" />
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok()" i18n="common.save"></button>
    <button type="button" class="btn btn-warning" ng-click="cancel()" i18n="common.cancel"></button>
</div>
