<div class="btn-group btn-group-sm" role="group" ng-if="editMode" class="page-header">
    <button class="btn btn-sm btn-primary" ng-click="saveDashboard()"><i class="fa fa-save"></i> <span
            i18n="common.save"></span></button>
    <button class="btn btn-sm btn-primary" ng-click="endEdit()"><i class="fa fa-check-square"></i> <span
            i18n="habmin.dashboardEndEdit"></span></button>
    <div class="dashboard-toolbar btn-group dropdown">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-plus-square-o"></span> <span i18n="habmin.dashboardAddWidget"></span>
            <span class="caret"></span>
            <span class="sr-only">Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a ng-click="addWidget('Chart')">
                    <span class="fa fa-fw fa-area-chart"></span>
                    <span i18n="habmin.dashboardAddChart"></span>
                </a>
            </li>
            <li>
                <a ng-click="addWidget('Gauge')">
                    <span class="fa fa-fw fa-dashboard"></span>
                    <span i18n="habmin.dashboardAddGauge"></span>
                </a>
            </li>
        </ul>
    </div>
    <button class="btn btn-sm btn-warning" ng-confirm-click="clearDashboard()"
            i18n-attr="{'ngConfirmMessage': 'habmin.dashboardClearText','ngConfirmTitle': 'habmin.dashboardClearTitle','ngConfirmNoBtn': 'common.no', 'ngConfirmYesBtn': 'common.yes'}">
        <i class="fa fa-file-o"></i> <span i18n="common.clear"></span>
    </button>
    <button class="btn btn-sm btn-warning" ng-confirm-click="deleteDashboard()"
            i18n-attr="{'ngConfirmMessage': 'habmin.dashboardDeleteText','ngConfirmTitle': 'habmin.dashboardDeleteTitle','ngConfirmNoBtn': 'common.no', 'ngConfirmYesBtn': 'common.yes'}">
        <i class="fa fa-trash-o"></i> <span i18n="common.delete"></span>
    </button>
</div>

<div gridster="gridsterOptions">
    <ul>
        <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
            <div ng-class="{'dashboard':true, 'dashboard-edit':editMode}">
                <div ng-if="editMode" class="dashboard-header">
                    <div class="dashboard-header-btns pull-right">
                        <a title="settings" ng-click="configWidget(widget)"><span class="fa fa-cog"></span></a>
                        <a title="Remove widget" ng-click="removeWidget(widget)"><span class="fa fa-trash"></span></a>
                    </div>
                </div>

                <dashboard-widget class="dashboard-content" widget="widget"></dashboard-widget>
            </div>
        </li>
    </ul>
</div>
