<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputItem" class="control-label" i18n="habmin.dashboardGaugeItem"></label>
        <div>
            <ui-select id="inputItem"
                    ng-model="options.itemId"
                    theme="bootstrap"
                    >
                <ui-select-match i18n-attr="{placeholder: 'habmin.dashboardGaugeItemPlaceholder'}">{{$select.selected.label.title}}</ui-select-match>
                <ui-select-choices repeat="item.name as item in items | filter: {label: { title: $select.search }}">
                    {{item.label.title}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="control-label" i18n="habmin.dashboardGaugeLabel"></label>
        <div>
            <input type="text" ng-model="options.title" class="form-control" id="inputTitle" placeholder="Label">
        </div>
    </div>
    <div class="form-group">
        <label for="inputUnits" class="control-label" i18n="habmin.dashboardGaugeUnits"></label>
        <div>
            <input type="text" ng-model="options.units" class="form-control" id="inputUnits" placeholder="Label">
        </div>
    </div>
    <div class="form-group">
        <label for="inputBarWidth" class="control-label" i18n="habmin.dashboardGaugeBarWidth"></label>
        <div>
            <input type="number" ng-model="options.barWidth" class="form-control" id="inputBarWidth" placeholder="Label">
        </div>
    </div>
    <div class="form-group">
        <label for="inputBorderWidth" class="control-label" i18n="habmin.dashboardGaugeBorderWidth"></label>
        <div>
            <input type="number" ng-model="options.borderWidth" class="form-control" id="inputBorderWidth" placeholder="Label">
        </div>
    </div>
    <div class="form-group">
        <label for="inputScaleAngle" class="control-label" i18n="habmin.dashboardGaugeScaleAngle"></label>
        <div>
            <input type="number" ng-model="options.angle" class="form-control" id="inputScaleAngle" placeholder="Label">
        </div>
    </div>
    <div class="form-group">
        <label for="inputZeroPosition" class="control-label" i18n="habmin.dashboardGaugeZeroPosition"></label>
        <div>
            <input type="number" ng-model="options.rotate" class="form-control" id="inputZeroPosition" placeholder="Label">
        </div>
    </div>
    <div class="form-group">
        <label for="inputKnobAngle" class="control-label" i18n="habmin.dashboardGaugeBarAngle"></label>
        <div>
            <input type="number" ng-model="options.barAngle" class="form-control" id="inputKnobAngle" placeholder="Label">
        </div>
    </div>

    <div class="form-group">
        <label for="inputEndCap" class="control-label" i18n="habmin.dashboardGaugeEndCap"></label>
        <div>
            <select class="form-control" id="inputEndCap"
                    ng-model="options.lineCap">
                <option value="round" i18n="habmin.dashboardGaugeEndCapRound"></option>
                <option value="butt" i18n="habmin.dashboardGaugeEndCapSquare"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputMinimum" class="control-label" i18n="habmin.dashboardGaugeMinimum"></label>
        <div>
            <input type="number" ng-model="options.scaleMin" class="form-control" id="inputMinimum" placeholder="Label">
        </div>
    </div>
    <div class="form-group">
        <label for="inputMaximum" class="control-label" i18n="habmin.dashboardGaugeMaximum"></label>
        <div>
            <input type="number" ng-model="model.scaleMax" class="form-control" id="inputMaximum" placeholder="Label">
        </div>
    </div>
</form>
