<form class="form" role="form">

    <div class="form-group">
        <label for="inputTitle" class="control-label" i18n="habmin.dashboardGeneralTitle"></label>
        <div>
            <input type="text" disabled ng-model="options.title" class="form-control" id="inputTitle" placeholder="Label">
        </div>
    </div>

    <div class="form-group">
        <label for="inputUrl" class="control-label" i18n="habmin.dashboardGeneralBorder"></label>
        <div>
            <input type="text" disabled ng-model="options.border" class="form-control" id="inputUrl" placeholder="Label">
        </div>
    </div>

    <div class="form-group">
        <label for="inputLink" class="control-label" i18n="habmin.dashboardGeneralLink"></label>
        <div>
            <input type="text" disabled ng-model="options.link" class="form-control" id="inputLink" placeholder="Label">
        </div>
    </div>

</form>