<div class="modal-header">
    <h3 class="modal-title" i18n="habmin.floorplanHotspotTitle"></h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="inputItem" class="control-label" i18n="habmin.floorplanHotspotItem"></label>

            <div>
                <ui-select id="inputItem"
                           ng-model="hotspot.itemId"
                           theme="bootstrap"
                        >
                    <ui-select-match i18n-attr="{placeholder: 'habmin.floorplanHotspotItemPlaceholder'}">
                        <habmin-icon class="fa fa-fw" category="{{$select.selected.category}}"></habmin-icon>
                        &nbsp;{{$select.selected.label}}
                    </ui-select-match>
                    <ui-select-choices repeat="item.name as item in items | filter: {label: $select.search }">
                        <habmin-icon class="fa fa-fw" category="{{item.category}}"></habmin-icon>&nbsp;{{item.label}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok()" i18n="common.save"></button>
    <button type="button" class="btn btn-warning" ng-click="cancel()" i18n="common.cancel"></button>
    <button type="button" class="btn btn-warning" ng-click="delete()" i18n="common.delete"></button>
</div>
