<!DOCTYPE html>
<!-- Device List -->
<div class="col-sm-4" sidepanel-pane="side">
    <div class="panel panel-default">
        <!-- Header -->
        <div class="panel-heading">
            Installed Bindings
        </div>

        <!-- Body -->
        <div class="list-group habmin-list" resize-panel>
            <!-- HOTSPOT LIST -->
            <div ng-if="hotspots.length>0" ng-repeat="hotspot in hotspots">
                <a role="presentation" ng-class="{'list-group-item':true, 'active': false}"
                   ng-click="selectBinding(hotspot)" sidepanel-click="main">
                    <table style="background-color: transparent">
                        <tr>
                            <td class="text-large" rowspan="2">
                                <habmin-icon class="fa fa-fw" icon="{{hotspot.icon}}"></habmin-icon>
                            </td>
                            <td>
                                <span class="small">x={{hotspot.posX}}%&nbsp;y={{hotspot.posY}}%</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-muted small"></td>
                        </tr>
                    </table>
                </a>
            </div>

            <!-- Cover options for loading, and no devices -->
            <div ng-if="bindingsCnt==-1" class="list-group-item text-center">
                <span class="fa fa-spin fa-refresh"></span>
                <span i18n="common.loading"></span>
            </div>
            <div ng-if="bindingsCnt==0" class="list-group-item text-center">
                <span class="fa fa-exclamation-triangle text-warning"></span>
                <span i18n="habmin.bindingNoneFound"></span>
            </div>
        </div>

        <!-- Footer -->
        <div class="panel-footer panel-footer-none">
        </div>
    </div>
</div>

<!-- Binding Information / Configuration -->
<div class="col-sm-8" sidepanel-pane="main">
    <div class="panel panel-default">
        <!-- Header -->
        <div class="panel-heading">
            <button type="button"
                    class="btn btn-default btn-sm"
                    ng-click="uploadFile()"
                    ngx-disabled="!thingConfigForm.modified">
                <span class="fa fa-floppy-o"></span>
                <span class="hidden-xs hidden-sm" i18n="common.save"></span>
            </button>
        </div>

        <!-- Body -->
        <div class="list-group habmin-list floorplan-editor" resize-panel>
            <floor-plan ng-click="imgClicked($event)" hotspots="hotspots" src="/rest/habmin/floorplan/1/image">
            </floor-plan>
        </div>

        <!-- Footer -->
        <div class="panel-footer panel-footer-none">
        </div>
    </div>
</div>
