<!DOCTYPE html>
<html ng-controller="HABminCtrl" class="slate">
<head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="assets/favicon.ico" />


    <% if(buildtype == 'cordova') { %>
    <!-- Include PhoneGap -->
    <script type="text/javascript" src="cordova.js"></script>
    <% } %>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script type="text/javascript">
        document.HABminVersionString = "<%= version %>";
        document.HABminVersionDate = "<%= grunt.template.today('yyyy-mm-dd\'T\'HH:MM:ss') %>";

        <% if(buildtype == 'cordova') { %>
        <!-- Handle application startup for Cordova -->
        document.HABminCordova = true;
        $(document).ready(function() {
            document.addEventListener("deviceready", function onDeviceReady() {
                angular.bootstrap(document, ['HABmin']);
            }, true);
        });
        <% } else { %>
        <!-- Handle application startup within browser -->
        document.HABminCordova = false;
        $(document).ready(function() {
            angular.bootstrap(document, ['HABmin']);
        });
        <% } %>
    </script>
</head>
<body>
<!-- ng-swipe-left="swipe('left')" ng-swipe-right="swipe('right')"> -->

<div id="login-holder" class="login-form login-handler" style="display:none;">
    <div class="container-fluid">
        <div id="loginbox" class="col-sm-4 col-sm-offset-4" ng-controller="LoginController">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="fa fa-key"></span>&nbsp;<span i18n="habmin.loginFormTitle"></span>
                </div>
                <div class="panel-body">
                    <form name="form">
                        <!-- SERVER -->
                        <div class="form-group" ng-show="showServer" ng-class="{'has-error': form.server.$invalid && submitted}">
                            <label for="server" class="control-label"><span i18n="habmin.loginServer"></span></label>

                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="server"
                                        name="server"
                                        placeholder="Server"
                                        ng-model="server"
                                        ng-model-options="{updateOn: 'blur'}"
                                        required>
                            </div>
                        </div>

                        <!-- USERNAME -->
                        <div class="form-group" ng-class="{'has-error': form.user.$invalid && submitted}">
                            <label for="user" class="control-label"><span i18n="habmin.loginUser"></span></label>

                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="user"
                                        name="user"
                                        placeholder="Username"
                                        ng-model="user"
                                        ng-model-options="{updateOn: 'blur'}"
                                        required>
                            </div>
                        </div>

                        <!-- PASSWORD -->
                        <div class="form-group" ng-class="{'has-error': form.password.$invalid && submitted}">
                            <label for="password" class="control-label"><span i18n="habmin.loginPassword"></span></label>

                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        placeholder="Password"
                                        ng-model="password"
                                        ng-model-options="{updateOn: 'blur'}"
                                        required>
                            </div>
                        </div>
                        <button type="submit" ng-click="submit()" class="btn btn-primary btn-block"><span i18n="habmin.loginSubmit"></span></button>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="text-center"><small>
                        <span i18n="habmin.loginVersion"></span>&nbsp;<span>{{HABminVersion}}</span>,&nbsp;<span>{{HABminDate}}</span>
                    </small></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top" container="false" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-left"
                        sidepanel-toggle="side,main" ng-show="sidepanelEnabled">
                    <span class="sr-only">Toggle panels</span>
                    <div class="nav-expand-bar">
                        <span class="icon-bar nav-expand-bar"></span>
                        <span class="icon-bar nav-expand-bar"></span>
                        <span class="icon-bar nav-expand-bar"></span>
                    </div>
                    <div class="nav-expand-dir">
                        <span class="fa" sidepanel-class="main:fa-caret-left, side:fa-caret-right"></span>
                    </div>
                </button>

                <span class="navbar-brand" i18n="common.appName"></span>

                <button type="button" class="navbar-toggle pull-right" ng-init="menuCollapsed = true"
                        ng-click="menuCollapsed = !menuCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" collapse="menuCollapsed">
                <ul class="nav navbar-nav">
                    <!-- DASHBOARD menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-tachometer"></span>
                            <span i18n="habmin.mainDashboard"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ui-sref="chart">
                                <a>
                                    <span class="fa fa-fw fa-area-chart"></span>
                                    <span i18n="habmin.mainCharts"></span>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li ui-sref="dashboard">
                                <a>
                                    <span class="fa fa-fw fa-th"></span>
                                    <span i18n="habmin.mainDashboardNew"></span>
                                </a>
                            </li>
                            <li ng-show="currentState.indexOf('dashboard')==0">
                                <a ui-sref="{edit:true}">
                                    <span class="fa fa-fw fa-magic"></span>
                                    <span i18n="habmin.mainDashboardEdit"></span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- AUTOMATION menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-cogs"></span>
                            <span i18n="habmin.mainAutomation"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ui-sref="rules">
                                <a>
                                    <span class="fa fa-fw fa-puzzle-piece"></span>
                                    <span i18n="habmin.mainRules"></span>
                                </a>
                            </li>
                            <li ui-sref="scheduler">
                                <a>
                                    <span class="fa fa-fw fa-clock-o"></span>
                                    <span i18n="habmin.mainScheduler"></span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- SITEMAP menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-sitemap"></span>
                            <span i18n="habmin.mainSitemaps"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="choice in sitemaps">
                                <a ui-sref="sitemap.view({sitemapName:'{{choice.name}}', sitemapPage:'{{choice.name}}'})"
                                   ui-sref-opts="{ reload: true }">
                                    <habmin-icon class="" icon="{{choice.icon}}"></habmin-icon>
                                    <span>{{choice.label}}</span>
                                </a>
                            </li>
                            <li class="disabled" ng-if="!sitemaps">
                                <a>
                                    <span class="fa fa-fw fa-warning"></span>
                                    <span i18n="habmin.mainNoSitemaps"></span>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li ui-sref="sitemap.view">
                                <a>
                                    <span class="fa fa-fw fa-plus"></span>
                                    <span i18n="habmin.mainNewSitemap"></span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- CONFIGURATION menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-wrench"></span>
                            <span i18n="habmin.mainConfiguration"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ui-sref="things">
                                    <span class="fa fa-fw fa-share-alt"></span>
                                    <span i18n="habmin.mainThings"></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="discovery">
                                    <span class="fa fa-fw fa-paper-plane"></span>
                                    <span i18n="habmin.mainDiscovery"></span>
                                </a>
                            </li>
                            <li>
                            <a ui-sref="rules">
                                <span class="fa fa-fw fa-wifi"></span>
                                <span i181n="habmin.mainZWave">Items</span>
                            </a>
                        </li>
                            <li role="presentation" class="divider"></li>
                            <li ng-repeat="choice in bindings" ng-class="{'disabled': choice.disabled}">
                                <a ui-sref="binding/zwave" ui-sref="choice.link">
                                    <habmin-icon class="fa-fw" icon="{{choice.icon}}"></habmin-icon>
                                    <span>{{choice.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- TOOLS menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-laptop"></span>
                            <span i18n="habmin.mainTools"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ui-sref="tools/zwave/logreader">
                                    <span class="fa fa-fw fa-info-circle"></span>
                                    <span i18n="habmin.mainZWaveLogReader"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- USER menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-if="isLoggedIn()">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user"></span>
                            <span class="hidden-sm" i18n="habmin.mainUserPreferences"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="showUserGeneralPrefs()">
                                    <span class="fa fa-fw fa-cog"></span>
                                    <span i18n="habmin.mainGeneralPreferences"></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="showUserChartPrefs()">
                                    <span class="fa fa-fw fa-pie-chart"></span>
                                    <span i18n="habmin.mainChartPreferences"></span>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li>
                                <a ng-click="logout()">
                                    <span class="fa fa-fw fa-sign-out"></span>
                                    <span i18n="habmin.mainLogout"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="!isLoggedIn()">
                        <a ng-click="login()">
                            <span class="fa fa-fw fa-user"></span>
                            <span class="hidden-sm" i18n="habmin.mainLogin"></span>
                        </a>
                    </li>

                    <!-- NOTIFICATION AREA -->
                    <li class="navbar-notification">
                        <p class="no-padding" ng-if="notificationCnt"
                           popup-show="templates/notifications/summary.tpl.html" popup-placement="left"
                           popup-class="zwave-logreader-popover">
                            <span class="badge">
                                {{notificationCnt}}
                            </span>
                        </p>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid habmin-body" ui-view="main">
    </div>

    <div growl>
    </div>
</div>

</body>
</html>
