<!DOCTYPE html>
<html ng-app="HABmin" ng-controller="HABminCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <link rel="stylesheet" type="text/css" href="assets/slate.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" container="false" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header habmin-nav">
                <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" i18n="common.appName"></span>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" collapse="menuCollapsed">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="about">
                            <span class="glyphicon glyphicon-dashboard"></span>
                            <span i18n="habmin.mainDashboard"></span>
                        </a>
                    </li>

                    <li>
                        <a ui-sref="chart">
                            <span class="glyphicon glyphicon-tasks"></span>
                            <span i18n="habmin.mainAutomation"></span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span i18n="habmin.mainSitemaps"></span>
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="choice in sitemaps">
                                <a>
                                    <span>{{choice.label}}</span>
                                </a>
                            </li>
                            <li class="disabled" ng-if="!sitemaps">
                                <a>
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    <span i18n="habmin.mainNoSitemaps"></span>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li>
                                <a>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span i18n="habmin.mainNewSitemap"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href ui-sref="about">
                            <span class="glyphicon glyphicon-user"></span>
                            <span i18n="habmin.mainLogin"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div class="container habmin-body" ui-view="main">
</div>

<div growl>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <p><small class="text-center">
                HABmin
                <a href="http://github.com/cdjackson/HABmin/blob/v<%= version %>-release/CHANGELOG.md">
                    v<%= version %>
                </a>
                by Chris Jackson</small></p>
        </div>
    </div>
</footer>
</body>
</html>
