<!-- Rule Pane -->
<div class="col-sm-12">
    <!-- Heading -->
    <div class="panel panel-default">
        <div class="panel-heading" style="padding:3px;">
            <button type="button" ng-disabled="logState!='loaded' || showOption!='LIST'" class="btn btn-sm btn-default"
                    ng-click="showOption='LIST'">
                <span class="fa fa-list-alt"></span>
                <span>Log</span>
            </button>
            <button type="button" ng-disabled="logState!='loaded' || showOption!='TIMELINE'" class="btn btn-sm btn-default"
                    ng-click="showOption='TIMELINE'">
                <span class="fa fa-line-chart"></span>
                <span>Timeline</span>
            </button>

            <span class="pull-right">
                <span ng-class="{'btn-group btn-group-sm': true, 'open': filterOpen}">
                    <button type="button" class="btn btn-sm btn-default dropdown" ng-disabled="logState!='loaded'"
                            ng-init="filterOpen=false" ng-click="filterOpen=!filterOpen">
                        <span class="fa fa-filter"></span>
                        &nbsp;Filter...
                    </button>
                    <div class="dropdown-menu dropdown_dialog" style="min-width:200px;white-space: nowrap;">
                        <div class="modal-header">
                            <button class="btn btn-xs default" ng-click="checkAllNodes(true)">All
                                Nodes
                            </button>

                            <button class="btn btn-xs default" ng-click="checkAllNodes(false)">No
                                Nodes
                            </button>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr ng-repeat="node in nodes">
                                            <td>
                                                <input type="checkbox" checklist-model="nodeFilter"
                                                       checklist-value="node.id">&nbsp;Node {{node.id}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align: top;padding-left: 10px;">
                                    <table>
                                        <tr ng-repeat="process in processFilterOptions">
                                            <td>
                                                <input type="checkbox" checklist-model="processFilter"
                                                       checklist-value="process.ref">&nbsp;{{process.name}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button class="btn btn-xs btn-default" ng-click="filterOpen=false;">Close</button>
                        </div>
                    </div>
                </span>

                <span class="btn btn-sm btn-default btn-file" ng-disabled="logState=='loading'">
                    <span class="fa fa-download" ng-hide="logState=='loading'"></span>

                    <span>Select File</span>
                    <input onchange="angular.element(this).scope().fileChanged(this);this.value = '';" type="file"/>
                </span>
            <small>
                Lines Processed: {{countEntries}}:{{countLines}}
            </small>
        </span>
        </div>

        <!-- Body LIST -->
        <div ng-show="showOption=='LIST'" class="habmin-list" resize-panel>
            <table class="table">
                <tbody>
                <tr ng-repeat="log in data | filter:filterFunction" ng-class="log.result"
                    popup-show="tools/zwave/logInfo.tpl.html" popup-placement="bottom-left"
                    popup-shown="onPopupShown(log)" popup-class="zwave-logreader-popover">
                    <td>
                        {{log.time}}
                    </td>
                    <td class="text-center">
                        {{log.node}}
                    </td>
                    <td>
                        {{log.content}}
                    </td>
                    <td class="text-center">
                        {{log.class}}
                    </td>
                    <td class="text-center">
                        {{log.stage}}
                    </td>
                    <td class="text-center">
                        <span ng-show="log.duplicate" class="text-muted fa fa-copy"></span>
                        <span ng-show="log.successFlag" class="text-success fa fa-check-circle"></span>
                        <span ng-show="log.warnFlag" class="text-warning fa fa-question-circle"></span>
                        <span ng-show="log.errorFlag" class="text-danger fa fa-exclamation-circle"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Body TIMELINE -->
        <div ng-show="showOption=='TIMELINE'" style="padding:3px;" resize-panel>
            <vis-timeline data="timelineData" options="timelineOptions" events="timelineEvents"></vis-timeline>
        </div>

        <!-- Footer -->
        <div class="panel-footer panel-footer-none">
        </div>
    </div>
</div>

