<div class="container" id="main">
    <div class="row">
        <div>
            <div class="col-md-3">
                <div class="well sidebar-nav">
                    <strong>Items</strong>
                    <ul class="list-group">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    {sitemap-text-widgetx label="Label" labelcolor="color:#ff0000" value="20.3C"}


    {sitemap-base-widget sitemap=model}
</div>
